<div class="navbar navbar-default navbar-static-top text-left">
  <div ng-controller="NavBarController">
    <ul class="nav navbar-nav">
      <a href="/" class="navbar-brand"><i class="icon ion-record"></i> Spotr </a>

    </ul>
    <ul class="nav navbar-nav pull-right logged-in">
      <li ng-if="logged_in" id="current-user">
        <img class="media-object img-rounded" id="user-picture" ng-src="{{profile_picture}}" >
      </li>
      <li id="hello-user" ng-if="logged_in"> Hello @{{username}}!</li>
      <li class="logged-in"><a ng-if="logged_in" ng-click="logOut()" href="">Logout</a></li>
    </ul>
  </div>
</div>

<div ui-view></div>
