<div class="navbar navbar-default navbar-static-top text-left">
  <div class="container" ng-controller="NavBarController">
    <ul class="nav navbar-nav">
      <a href="/" class="navbar-brand"><i class="icon ion-record"></i> Spotr </a>
      
    </ul>
    <div class="logged-in">
      <span ng-if="logged_in"><img class="media-object img-rounded" ng-src="{{profile_picture}}" id="current-user">
          Hello @{{username}}!
      </span>
      <span class="logged-in"><a ng-if="logged_in" ng-click="logOut()" href="">Logout</a></span>
    </div>
  </div>
</div>

<div ui-view></div>
